{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "embeddedLanguageFormatting": "auto",
    "editorconfig": true,
    "bracketSameLine": false,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
