@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --background-2: 0 0% 98%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --sidebar-link-active: 194, 100%, 50%;
        --sidebar-line-active-foreground: 222.2 84% 4.9%;
        --sidebar-header-foreground: 218, 11%, 65%;
        --navbar-secondary-foreground: 218, 11%, 65%;
    }

    .dark {
        --background: 0 0% 15%;
        --background-2: 0 0 18%;
        --foreground: 216 30% 85%;
        --card: 60 8% 5%;
        --card-foreground: 50 3.8% 69%;
        --popover: 0 0 10%;
        --popover-foreground: 210 40% 98%;
        --primary: 250 40% 92%;
        --primary-foreground: 230.2 45.4% 13.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 0 0 30%;
        --muted-foreground: 215 12% 80%;
        --accent: 217.2 32.6% 80.5%;
        --accent-foreground: 210 40% 15%;
        --destructive: 0 62.8% 50.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 0 0 22.5%;
        --input: 217.2 32.6% 97.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-link-active: 222 24% 22%;
        --sidebar-line-active-foreground: 210 40% 98%;
        --sidebar-header: 218, 11%, 65%;
        --navbar-secondary-foreground: 218, 11%, 65%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .text-page-header {
        @apply text-2xl font-semibold;
    }

    .sidebar-collapsible-link {
        @apply w-full !rounded-none !rounded-l-md;
    }

    .sidebar-collapse .sidebar-collapsible-link {
        @apply w-full !rounded-md;
    }

    .sidebar-collapse .sidebar-collapsible-accordion {
        @apply m-0;
    }

    .sidebar-collapse .sidebar-collapsible-item {
        @apply p-0;
    }

    .sidebar-collapse .sidebar-item-text,
    .sidebar-collapse .sidebar-collapsible-icon,
    .sidebar-collapse .sidebar-header-logo {
        @apply hidden;
    }

    .sidebar-collapsible-menu {
        @apply flex w-full;
    }

    .sidebar-collapse .sidebar-collapsible-menu {
        @apply flex-none w-fit pl-4 mx-auto;
    }

    .sidebar-collapse-toggle {
        @apply text-zinc-400;
    }

    .sidebar-collapse-toggle-mobile {
        @apply text-zinc-400 flex mx-auto;
    }

    .sidebar-collapse .sidebar-collapse-toggle {
        @apply mx-auto;
    }

    .sidebar-collapse .sidebar-item {
        @apply w-fit mx-auto;
    }

    .sidebar-collapse .sidebar-menu {
        @apply justify-center;
    }

    .sidebar-collapse .sidebar-collapsible-item {
        @apply p-0;
    }

    .sidebar-collapse .sidebar,
    .sidebar-collapse .sidebar-header,
    .sidebar-collapse .sidebar-item-header {
        @apply w-full text-center;
    }

    .sidebar-collapse.sidebar {
        @apply w-20;
    }
}

section.login > img {
    @apply fixed h-40;
}

section.login img#login-top-left-sm {
    @apply top-0 left-0;
}

section.login img#login-bottom-left-sm {
    @apply bottom-0 left-0;
}

section.login img#login-bottom-right {
    @apply bottom-0 right-0;
}
