material_code,description,specs,unit
22B58H00000XXG01,"LdK1Lp, LdK2Lp (Power Ready)","Indicator Lam, Green 220VAC",18
22B58H00000XXW01,"LdK1Lp, LdK2Lp","Indicator Lamp, White 220VAC",18
22B58H00000AAR04,"Operation Lamp for Manual Mode, Power On", "Indicator Lamp, ABB CL2-502C24VDC/AC", 27
